.profile-bg{
    background-image: url(https://resources.turo.com/client/v2/builds/assets/6ca604dee6032faf4f91b8fbd3d57eab.png);
    position: absolute;
    left: 0;
    right: 0;
    background: url(https://resources.turo.com/client/v2/builds/assets/6ca604dee6032faf4f91b8fbd3d57eab.png) no-repeat 50%/cover;
    border-bottom: 1px solid #e6e6e6;
    height: 200px;
}
.profile-container{
    padding-top:200px;
    width: 940px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
}
.profile-btn{
    position: absolute;
    top: 100px;
    right: 470px;
    display: flex;
}
.profile-left{
    margin-right: 20px;
    padding-left:40px;
}
.profile-right{
    width:70%;
    margin-left: 20px;
}
.profile-right div{
    width:70%;
}
.profile-flex{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.profile-flex-col{
    display: flex;
    flex-direction: column;
}
.reviews div{
    width:60%;
}
.reviews div > p{
    margin:0;
}
.profile-primary-btn{
    display: inline-block;
    height: 50px;
    cursor: pointer;
    line-height: 49px;
    padding: 0 18px;
    text-align: center;
    vertical-align: top;
    background-color: #593CFB;
    border: 1px solid #593CFB;
    color: #FFFFFF;
    font-size: 18px;
    margin: 10px 0;
    width:60%;
}
.profile-secondary-btn{
    cursor: pointer;
    display: inline-block;
    height: 50px;
    line-height: 49px;
    padding: 0 18px;
    text-align: center;
    vertical-align: top;
    background-color: #FFFFFF;
    border: 1px solid #000000;
    color: #000000;
    font-size: 18px;
    margin: 10px;
}
.profile-verification{
    justify-content: space-between;
}
.profile-avatar{
    position: absolute;
    top:200px;
}
.profile-btn-section{
    margin-top:50px;
}
.fullWidth{
    width:100%;
}
.profile-verification > p{
    margin: 5px 0;
}
.margin-zero{
    margin: 10px 0;
}