.navbar-top{
    position: fixed;
    top: 0;
    width:100%;
}
.navbar-bottom{
    display: flex;
    background-color: #FFFFFF;
    height: 60px;
    padding: 0 16px;
    box-shadow: 0 2px 9px -3px rgb(0 0 0 / 12%); 
}
.navbar-fixed{
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

.visiblity{
    visibility: hidden;
}
.overview{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    width:70%;
}
.overview-left{
    display: flex;
    flex-direction: column;
    padding: 20px 40px;
}
.overview-right{
    padding: 20px;
}
.overview-left-info{
    display: flex;
}
.line-separator{
    height: 0;
    overflow: hidden;
    background: transparent;
    border: 0;
    border-bottom: 1px solid #e6e6e6;
    margin:15px 0;
}
.padding-right-left{
    padding: 0 20px;
}
.padding-top-bottom{
    padding: 10px 0;
}
.overview-left-info td{
    width:60%;
}
.links-flex{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.car-details-form > div{
    padding-top: 10px;
}
.car-details-form > div > input{
    margin: 0;
    width:100%;
}
.btn-long{
    width: 100%;
}
.center{
    justify-content: center;
}
.features-flex{
    display: flex;
    align-items: center;
}
.features-flex >table > tr > td{
    display: flex;
    align-items: center;
}
.features-flex > table > tr{
    display: flex;
}
.details-flex{
    display: flex;
    flex-direction: column;
}
.nav-btn-outlined{
    background: transparent;
    text-decoration: none;
    margin: 10px 12px;
    white-space: nowrap;
    font-size: 13px;
    height: 26px;
    line-height: 25px;
    padding: 0 10px;
    background-color: #FFFFFF;
    color: #414143;
    font-family: BasisGrotesque,Avenir,Helvetica Neue,Helvetica,sans-serif;
    font-weight: 900;
    outline: none;
    position: relative;
    text-align: center;
    border: 1px solid #414143;
}