.heading{
    position: relative;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    width:940px;
    margin-top:20px;
}
.heading-text p{
    font-family: RlFreight, HoeflerText-Black, Times New Roman, serif;
    font-size: 68px;
    font-weight: 400;
    letter-spacing: -1px;
    line-height: 72px;
    text-transform: none;
}
.heading-text{
    width: 90%;
    margin-right: auto;
    margin-left: auto;
}
.heading-bg{
    background-color: #F2E9FF;
    position: absolute;
    height: 100%;
    width: 100%;
    bottom: -25px;
    z-index: -1;
    max-height: 130px;
}
.heading-bg-2{
    display: initial;
    left: 29%;
    background-color: #F2E9FF;
    position: absolute;
    height: 30%;
    width: 100%;
    max-height: 50%;
    max-width: 376px;
    z-index: -1;
    bottom: 110px;
}
.heading-text-2{
    font-family: RlFreight, HoeflerText-Black, Times New Roman, serif;
    font-size: 30px;
    font-weight: 900;
    letter-spacing: -0.5px;
    line-height: 56px;
    text-transform: none;
}