.nav-right-links{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1;
    width: 100%;
}

.nav-left-link{
    display: flex;
    align-items: center;
    font-weight: bold;
}

.logo{
    background-color: black;
    height: 32px;
    width: 88px;
    display: flex;
    justify-content: center;
}

.logo a{
    text-decoration: none;
    color: white;
    margin-top: 5px;
}

.nav-right-links a{
   text-decoration: none;
   margin: 0 12px;
   white-space: nowrap;
   font-size: 13px;
   height: 26px;
   line-height: 25px;
   padding: 0 10px;
   background-color: #FFFFFF;
   color: #414143;
   font-family: BasisGrotesque,Avenir,Helvetica Neue,Helvetica,sans-serif;
   font-weight: 900;
   outline: none;
   position: relative;
   text-align: center;
}

.nav-right-links a:hover{
    border: 1px solid #414143;
}
.nav{
    display: flex;
    background-color: #FFFFFF;
    height: 60px;
    padding: 0 16px;
}
.dropdown-content{
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content li:hover {
    background-color: #ddd;
}
.dropdown-content li {
   list-style: none;
   position: relative;
   font-weight: bold;
   font-size: 12px;
   padding: 5px 0;
   display: block;
}
.nav-dropdown:hover .dropdown-content {
    display: block;
}
.nav-dropdown{
    position: relative;
    display: inline-block;
}

