.searchform {
    display: flex;
    justify-content: space-around;
    padding: 4px;
    align-items: center;
}

.search-container {
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 940px;
    position: relative;
    top: 160px;
    background-color: #FFFFFF;
    border-radius: 100px;
    height: 56px;
}

.search-container input{
    border: none;
}

.search-button {
    border-radius: 40px;
    height: 40px;
    line-height: 1;
    margin-top: 0;
    width: 40px;
    background: #593CFB;
    border: 0;
    color: #FFFFFF;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:5px;
}
.search-logo{
    height:24px
}
.input-container{
    width: 100%;
    padding-left: 12px;
}
.input-container input{
    width: 100%;
}