.root{
    display: flex;
    justify-content: center;
    width: 40%;
    flex-direction: column;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    border-bottom: 1px solid rgba(181,180,186,.25);
}
.form-flex-col{
    display: flex;
    flex-direction: column;
}
.form-flex-row{
    display: flex;
}
.btn-listing{
    background-color: #593cfb;
    color: #fff;
    border: 1px solid #593cfb;
    padding: 10px;
    margin: 10px;
}
.car-license{
    justify-content: flex-start;
    margin: 0;
}
.car-license p, input{
    margin: 0 10px;
}
.MuiAccordionSummary-content{
    margin:0 !important;   
}
.btn-listing-photo{
    background-color: transparent;
    padding: 5px;
    margin: 10px;
}
.btn-listing-fb{
    background-color: #3b5998;
    color: #fff;
    border: 1px solid #3b5998;
    padding: 10px;
    margin: 10px;
}