body {
  margin: 0;
  font-variant-ligatures: common-ligatures;
  font-feature-settings: "liga", "clig";
  -webkit-font-smoothing: antialiased;
  color: rgb(35, 31, 32);
  font-family: BasisGrotesque, Avenir, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.5;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
